.card {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: $white;
  border-radius: 16px;
  box-shadow: 2px 2px 5px $black;

  &__location-text { font-weight: 500; }

  &__location-text,
  &__list-text,
  &__list-description { margin-bottom: 0; }
}