.skills {
  display: flex;
  gap: 2rem;

  @media (min-width: $lgMinWidth) {
    gap: 1rem;
  }

  &--direction {
    flex-direction: column;

    @media (min-width: $lgMinWidth) {
      flex-direction: row;
    }
  }

  &__container {
    flex-grow: 1;

    @media (min-width: $lgMinWidth) {
      width: 50%;
    }
  }

  &__title {
    margin-top: 0;
  }
}