<section>
  <h2>Formación</h2>

  <div>
    <h3>Máster Universitario en Desarrollo de Sitios y Aplicaciones Web</h3>
    <p>Universitat Oberta de Catalunya (UOC)</p>
    <p><time datetime="2021-09">09/2021</time> - Actualmente</p>
  </div>

  <div>
    <h3>Máster Universitario en Ingeniería Aeronáutica</h3>
    <p>ESEIAAT (UPC) - Terrassa</p>
    <p><time datetime="2019-09">09/2019</time> - <time datetime="2020-01">01/2020</time></p>
  </div>

  <div>
    <h3>Front-End Developer Program</h3>
    <p>Ubiqum - Barcelona</p>
    <p><time datetime="2019-05">05/2019</time> - <time datetime="2019-07">07/2019</time></p>
  </div>

  <div>
    <h3>Grado en Ingeniería de Aeronavegación</h3>
    <p>EETAC (UPC) - Castelldefels</p>
    <p><time datetime="2013-09">09/2013</time> - <time datetime="2018-05">05/2018</time></p>
  </div>
</section>