<section>
  <h2>Experiencia profesional</h2>

  <div>
    <h3>Front-End Developer y Consultor Web</h3>
    <p>EY - Barcelona</p>
    <p><time datetime="2020-01">01/2020</time> - Actualmente</p>
    <p>Desarrollador Front-End actualmente desempeñando tareas de mantenimiento
      de producto digital web y realizando desarrollos de nuevas funcionalidades
      y de mejora en la plataforma de reservas para un cliente de la industria de
      hospitalidad.
    </p>
    <p>Funciones:</p>
    <ul>
      <li>Tareas de mantenimiento y mejora de la web del cliente proporcionando soluciones
        a incidencias y errores desde el código del producto.
      </li>
      <li>Desarrollo de nuevas funcionalidades y mejoras de calidad.</li>
      <li>Proveer posibles soluciones y/o mejoras a nuevos desarrollos.</li>
    </ul>
    <p>Tecnologias: HTML5, CSS3, Sass, JavaScript, jQuery, Vue.js, Vuex, Bootstrap, JSPX, JSON, GitLab, Jest, Cypress</p>
  </div>

  <div>
    <h3>Front-End Developer</h3>
    <p>Ubiqum – Barcelona</p>
    <p><time datetime="2019-05">05/2019</time> - <time datetime="2019-07">07/2019</time></p>
    <p>Bootcamp a tiempo completo de lunes a viernes durante 3 meses, 490h. Programación en un
      entorno real de trabajo estructurado a través de las metodologías Agile y "Learn By Doing"
      y centrado en el uso de HTML5, Javascript y CSS.
    </p>
    <p>Proyectos:</p>
    <ul>
      <li>
        <p><strong>Transparent Government in Fact.</strong></p>
        <p>Desarrollo web con llamadas a API’s para recibir y manipular información en formato de archivo JSON.</p>
        <p>Tecnologias: HTML5, CSS3, JavaScript, Vue.js, JSON, AJAX</p>
      </li>
      <li>
        <p><strong>NYSL Mobile Application.</strong></p>
        <p>Desarrollo de una single-page app responsive desplegada con Firebase.</p>
        <p>Tecnologias: HTML5, CSS3, JavaScript, Vue.js, JSON, AJAX, Vuetify, FireBase, Vue Cli</p>
      </li>
    </ul>
  </div>
</section>