<section class="container languages">
  <h2><i class="fa-solid fa-language"></i>Idiomas</h2>
  <ul class="languages__list">
    <li class="languages__list-item">
      <span class="languages__list-text">Español</span>
      <div class="languages__range-slider"></div>
    </li>
    <li class="languages__list-item">
      <span class="languages__list-text">Catalán</span>
      <div class="languages__range-slider"></div>
    </li>
    <li class="languages__list-item">
      <span class="languages__list-text">Inglés</span>
      <div class="languages__range-slider languages__range-slider--background-three-quarters"></div>
    </li>
  </ul>
</section>