<section class="container languages">
  <h2><i class="fa-solid fa-language"></i>Idiomas</h2>
  <ul class="languages__list">
    <li class="languages__list-item">
      <span class="languages__list-text"><strong>Español</strong></span>
      <div class="languages__progress-bar languages__progress-bar--bg-full-filled"></div>
    </li>
    <li class="languages__list-item">
      <span class="languages__list-text"><strong>Catalán</strong></span>
      <div class="languages__progress-bar languages__progress-bar--bg-full-filled"></div>
    </li>
    <li class="languages__list-item">
      <span class="languages__list-text"><strong>Inglés</strong></span>
      <div class="languages__progress-bar languages__progress-bar--bg-three-quarters-filled"></div>
    </li>
  </ul>
</section>