<section class="personal-information personal-information--direction personal-information--alignment">
  <div class="personal-information__image-container">
    <img class="personal-information__image" src="./assets/images/CV-image.png" alt="Fotografía del perfil.">
  </div>
  <div class="personal-information__description-container">
    <h1 class="personal-information__title">Dídac Ortega Escalera</h1>
    <p class="personal-information__text">Front-End Developer e Ingeniero Aeronáutico</p>
    <ul class="personal-information__list">
      <li>
        <a href="mailto:didac.o@hotmail.com">
          <i class="fa-solid fa-envelope"></i>didac.o@hotmail.com
        </a>
      </li>
      <li>
        <a href="tel:635895697">
          <i class="fa-solid fa-phone"></i>+34 635 89 56 97
        </a>
      </li>
      <li>
        <a href="https://es.linkedin.com/in/d%C3%ADdacortegaescalera">
          <i class="fa-solid fa-globe"></i>Linkedin
        </a>
      </li>
      <li>
        <a href="https://github.com/Tarkras?tab=repositories">
          <i class="fa-solid fa-globe"></i>GitHub
        </a>
      </li>
    </ul>
  </div>
</section>