<section class="container skills skills--direction">
  <div class="skills__container">
    <h2 class="skills__title"><i class="fa-solid fa-people-group"></i>Soft skills</h2>
    <ul class="pills">
      <li class="pills__item"><span class="pills__text">Responsable</span></li>
      <li class="pills__item"><span class="pills__text">Positivo</span></li>
      <li class="pills__item"><span class="pills__text">Curioso</span></li>
      <li class="pills__item"><span class="pills__text">Capacidad de adaptación y aprendizaje</span></li>
      <li class="pills__item"><span class="pills__text">Trabajo en equipo</span></li>
      <li class="pills__item"><span class="pills__text">Puntual</span></li>
    </ul>
  </div>
  
  <div class="skills__container">
    <h2 class="skills__title"><i class="fa-solid fa-user-gear"></i>Tech skills</h2>
    <ul class="pills">
      <li class="pills__item"><span class="pills__text">Matlab</span></li>
      <li class="pills__item"><span class="pills__text">HTML/CSS</span></li>
      <li class="pills__item"><span class="pills__text">Javascript</span></li>
      <li class="pills__item"><span class="pills__text">Vue.js</span></li>
      <li class="pills__item"><span class="pills__text">Bootstrap</span></li>
      <li class="pills__item"><span class="pills__text">Microsoft Word</span></li>
      <li class="pills__item"><span class="pills__text">Microsoft PowerPoint</span></li>
      <li class="pills__item"><span class="pills__text">Microsoft Excel</span></li>
      <li class="pills__item"><span class="pills__text">C#</span></li>
      <li class="pills__item"><span class="pills__text">FireBase</span></li>
      <li class="pills__item"><span class="pills__text">Vue Cli</span></li>
      <li class="pills__item"><span class="pills__text">Vuetify</span></li>
      <li class="pills__item"><span class="pills__text">LabView</span></li>
      <li class="pills__item"><span class="pills__text">Bootstrap</span></li>
      <li class="pills__item"><span class="pills__text">Simulink</span></li>
      <li class="pills__item"><span class="pills__text">SolidWorks</span></li>
      <li class="pills__item"><span class="pills__text">GitHub</span></li>
      <li class="pills__item"><span class="pills__text">JSPX</span></li>
    </ul>
  </div>
</section>