<section class="container skills skills--direction">
  <div class="skills__container">
    <h2 class="skills__title"><i class="fa-solid fa-people-group"></i>Soft skills</h2>
    <ul>
      <li>Responsable</li>
      <li>Positivo</li>
      <li>Curioso</li>
      <li>Capacidad de adaptación y aprendizaje</li>
      <li>Trabajo en equipo</li>
      <li>Puntual</li>
    </ul>
  </div>
  
  <div class="skills__container">
    <h2 class="skills__title"><i class="fa-solid fa-user-gear"></i>Tech skills</h2>
    <ul>
      <li>Matlab</li>
      <li>HTML/CSS</li>
      <li>Javascript</li>
      <li>Vue.js</li>
      <li>Bootstrap</li>
      <li>Microsoft Word</li>
      <li>Microsoft PowerPoint</li>
      <li>Microsoft Excel</li>
      <li>C#</li>
      <li>FireBase</li>
      <li>Vue Cli</li>
      <li>Vuetify</li>
      <li>LabView</li>
      <li>Bootstrap</li>
      <li>Simulink</li>
      <li>SolidWorks</li>
      <li>GitHub</li>
      <li>JSPX</li>
    </ul>
  </div>
</section>