// Variables for device breakpoints

$smMinWidth: 36rem; // Small device (Mobile).
$mdMinWidth: 48rem; // Medium device (Tablet).
$lgMinWidth: 62rem; // Large device (Desktop).
$xlMinWidth: 75rem // Extra large device (Desktop).