// Device breakpoints.
$smMinWidth: 576px; // Small device (Mobile).
$mdMinWidth: 768px; // Medium device (Tablet).
$lgMinWidth: 992px; // Large device (Desktop).
$xlMinWidth: 1200px // Extra large device (Desktop).