// Variables for colors

@use "sass:color";

$black: #000;
$grey: #aaa;
$white: #fff;
$primary-color: #104c75;
$secondary-color: #cee7f8;
$body-bg: color.scale($grey, $lightness: 90%);
$progress-bar-first-quarter: color.scale($primary-color, $lightness: 0%);
$progress-bar-second-quarter: color.scale($primary-color, $lightness: -25%);
$progress-bar-third-quarter: color.scale($primary-color, $lightness: -50%);
$progress-bar-fourth-quarter: color.scale($primary-color, $lightness: -75%);