h1,
h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  margin-top: 1.2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

p,
span,
a,
li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
}

p,
ul,
ol { margin-bottom: 1rem; }

ul,
ol {
  padding-left: 1rem;
  margin-left: 1rem;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

i {
  margin-right: .7rem;
  color: $primary-color;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

body {
  background-color: $body-bg;
}

main {
  padding: 1rem 0;
  margin: 1rem .9375rem;

  @media (min-width: $smMinWidth) {
    width: 80%;
    padding: 0;
    padding: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    background-color: $main-bg;
    border-color: $black;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 20px 40px -16px rgb(0 0 0 / 40%);
  }

  @media (min-width: $mdMinWidth) {
    width: 70%;
  }

  @media (min-width: $mdMinWidth) {
    width: 60%;
  }

  @media (min-width: $lgMinWidth) {
    width: 55%;
  }

  @media (min-width: $xlMinWidth) {
    width: 55%;
  }
}